$neonBlue=#5EF7FF;
$neonRed=#D14036;
$neonGold=#EFE24C;
$bgBlue=#211F3A;
$darkBlue = #282645;
$headerPadding=32px;
$butHeight=75px;
$butWidth=200px;

neonBorder()
    border-radius: 50px;
    border: solid $neonBlue 2px;

glow(col, int)
    text-shadow: 0px 0px int col;

classInputs()
    border: 1px solid $neonBlue;
    border-radius: 10px;
    padding-left: 8px;
    background: transparent;

signH2()
    color: $neonRed;
    text-align: center;
    text-transform: uppercase

signH3()
    color: $neonBlue;
    text-align: center;
    font-weight 400
    margin-bottom 15px

center()
    display: flex
    justify-content: center
    align-items: center

mainH2(color)
    font-size 4em
    color: color;
    text-align: center;
    text-transform: uppercase;
    font-weight bold
    glow(color, 10px);


mainH3()
    color: $neonBlue;
    text-align: center;
    font-weight 400
    margin-bottom 15px