$neonBlue=#5EF7FF;
$neonRed=#D14036;
$bgBlue=#211F3A;
$headerPadding=32px;

.blueGlow{
    text-shadow: 0px 0px 5px #5EF7FF;
}

.redGlow{
    text-shadow: 0px 0px 10px #D14036;
}

glow(col, int)
    text-shadow: 0px 0px int col;
